body {
  background-image: url("./assets/bg.jpg");
  font: normal 15pt Arial;
  font-family: "Gloria Hallelujah", cursive, "Rock Salt", cursive , arial;
  color: #ffffff;
}

header {
  text-align: center;
  margin-bottom: 5vh;
}

#select{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 40vw;
  margin: 0 auto;
  gap: 10px;
}

#result{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  height: 75vh;
  font-size: 40px;
  gap: 25px;
}


.btn {
  color: #ffffff;
  font-size: 30pt;
  background: none;
  border: none;
  outline: none;
  font-family: "Gloria Hallelujah", cursive, "Rock Salt", cursive , arial;
  padding: 10px;
}

.btn:hover{
  opacity: 0.8;
}

.btn:active {
  opacity: 0.5;
}

#copyright {
  text-align: center;
  margin-top: 5vh;
}


@media (max-width: 900px) {
  body{
    display: flex;
    flex-direction: column;
    background-repeat: space;
  }
  
  footer {
    position: fixed;
    bottom: 2vh;
    right: 30vw;
  }
  #result{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:stretch;
    height: 60vh;
    font-size: 20px;
  }


}
